html {
    background-color: #1f2937;
    margin: 0px 100px;
}

body {
    flex-direction: column;
}

/*Head Section*/

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px; 
    color: #f9faf8;
    font-size: 18px;
}

.right {
    display: flex;
    gap: 16px;
}

/*Body Section*/

.section1 {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

img {
    height: 280px;
    width: auto;
}

.heromain {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.herosecundary {
    font-size: 18px;
    color: #E5E7EB;
    border-bottom: 16px;
}

.signin {
    padding: 8px 16px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    text-align: center;
    background-color: #E5E7EB;
}

.section2 .header {
    display:flex;
    justify-content: center;
    font-size: 36px;
    font-weight: extra-bold;
    color:#1f2937;
}
.pictures {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.info img {
    width: 150px;
    height: auto;
}

/*Section 3 */

.section3 {
    background-color: #E5E7EB;
}

.section3 .quote{
    font-size: 28px;
    font-style: italic;
    font-weight: lighter;
}

.section3 .autor {
    text-align: right;
    font-size: 23px;
    font-style: italic;
    font-weight: lighter;
}

/*Section 4 */

.section4 {
    display: flex;
    justify-content: space-evenly;
    background-color: #f9faf8;
}


/*Footer */

.footer {
    background-color: #E5E7EB;
    text-align: center;
    font-size: 28px;
    font-style: italic;
}